@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import "tailwindcss";


*{
  font-family:  "Outfit", sans-serif;
}


.fancy{
  font-family: "Bonheur Royale", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}
.fancy-title{
  font-family: "Bonheur Royale", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
}
.fancy-heavy{
  font-family: "Bonheur Royale", cursive;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}

@theme{
  --color-background: #e5d8b0;
  --color-primary: #86735d;
  --color-coprimary: #dcc28f;
  --color-borderColor: #c4b494;
}
.swiper-pagination-bullet {
  background-color: #c4b494 !important; /* inactive bullet color */
  opacity: 0.7 !important;           /* optional: less visible */
}

.swiper-pagination-bullet-active {
  background-color: #8e7b66 !important; /* active bullet color (example orange) */
  opacity: 1 !important;
}


html {
  scroll-behavior: smooth;
}
